.navbar {
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchDiv {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.filterDiv {
  display: flex;
  flex-direction: column;
  gap: 7px;
}


.filterSelect {
  font-family: inherit;
}
