form {
  display: grid;
  grid-template-rows: auto auto auto;
}

.form-container-parts {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

h2 {

  text-align: center;
  padding: 30px;
  font-size: 38px;
}

.form-container-parts {
  display: flex;
  justify-content: space-around;
  height: 65vh;
  padding-left: 50px;

}

.form-container-part {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  align-items: flex-start;

}


.button-create {
  background: #FBCA1F;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  width: 30vw;
  margin-top: 10px;

}

.button-create:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.button-create:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.button-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.temperaments-select-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 5px;
  gap: 5px;
  padding: 10px 5px 0 5px;


}

.form-input-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 90%;
}

.form-input-container input {
  width: 90%;
}

input {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
}

.input-maxmin {
  display: flex;
  align-items: center;
  gap: 10px;

}

#form-temperaments-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#form-temperaments-container select {
  font-family: inherit;
  font-size: inherit;
}


.button-delete-temperament {
  background-color: rgb(230, 34, 77);
  border-radius: 5px;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  color: #fff;
  border: none;
  font-size: 13px;
  cursor: pointer;
  margin-top: 2px;

}

.div-temperament-container {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: grey;
  border-radius: 0.5em;
  height: 30px;
  width: auto;
  box-shadow: 1px 2px 4px #0007;
  padding: 0 5px 0 5px;


}
#temperamento {
  cursor: pointer;
}

#temperamento option {
  cursor: pointer;
}